@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');


*{
    margin: 0px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

.busca-produtos{
    height: 45px;
    padding: 10px;
    width: auto;
    flex-grow: 1;
    flex-wrap: nowrap;
}

.input{
    border-color: #DCDCDC;
    align-items: center;
}


.logo .entrada{
    position: absolute;
    border-color: #DCDCDC;
    align-items: center;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
    height: 50px;
    width: 290px
}



.boas-vindas{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #ff4f01;
}

.carrinho{
    font-family: 'Roboto', sans-serif;
    color: #ff4f01;
    font-size: 18px;
}

/*************************************/
/*Barra de navegação*/
.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: #ff4f01;
}