@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');


*{
    margin: 0px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

.busca-produtos{
    height: 45px;
    padding: 10px;
    width: auto;
    flex-grow: 1;
    flex-wrap: nowrap;
}

.input{
    border-color: #DCDCDC;
    align-items: center;
}


.logo .entrada{
    position: absolute;
    border-color: #DCDCDC;
    align-items: center;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
    height: 7vh;
    width: 45vh;
}



.boas-vindas{
    font-family: 'Roboto', sans-serif;
    font-size: 3vh;
    color: #ff4f01;
    
}

.carrinho a{
    font-family: 'Roboto', sans-serif;
    color: #ff4f01;
    font-size: 4vh;
    text-decoration: none;
}

/*************************************/
/*Barra de navegação*/
.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    background-color: #ff4f01;
    font-family: 'Roboto', sans-serif;
}

.nav-list{
    list-style: none;
    display: flex;
    align-items: flex-end;
    text-decoration: none;
}


.nav-list li a{
    color: white;
    padding-right: 1.5vh;
    padding-left: 1.5vh;
    font-size: 100%;
    text-decoration: none;
}
.nav-list li a:hover{
    background-color: #DCDCDC;
    color: #ff4f01;
    border-radius: 10px;
}


/*Banner destaque*/
.container-banner{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 5vh;
    background-color: #edf5f8;
    max-height: 30vh;
}

.container-banner .texto h1{
    padding-left: 4vh;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    color: #ff4f01;
}

.container-banner .texto p{
    padding-top: 2vh;
    padding-left: 4vh;
    font-family: 'Roboto', sans-serif;
}

.ver-mais a{
    text-decoration: none;
    color: #ff4f01;
}

.mais{
    display: none;
}

.ver-mais-click{
    display: block;
}

/*Section filtros e ordenação*/
.filtros-e-ordenacao{
    padding: 2vh;
    display: flex;
    flex-direction: row-reverse;
    font-family: 'Roboto', sans-serif;
    margin-right: 10vh;
    max-height: 10vh;
}

/*filtros lado esquerdo*/
.container-filtros{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 30vh;
}

.container-filtros h1{
    font-family: 'Roboto', sans-serif;
    color: #ff4f01;
    font-size: 20px;
    margin-bottom: 2vh;
}

.container-filtros h2{
    font-family: 'Roboto', sans-serif;
    color:rgb(95, 82, 82);
    font-size: 15px;
    margin-bottom: 1vh;
    cursor: pointer;
}

.categorias{
    padding: 3vh;
}

.marcas{
    padding: 3vh;
}

.preco{
    padding: 3vh;
}

/*Main principal com produtos*/
.container-produtos{
    margin-top: -750px;
    width: 165vh;
    height: 150vh; /*VERIFICAR A ALTURA DO CONTAINER DE PRODUTOS*/
    /*background-color: #ff4f01;*/
    float: right;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
   /* background-color: #ff4f01;*/
    margin: 0;
    width: 45vh;
    height: 70vh;
    padding: 2vh;
}

/*Todos os itens do card*/

.card .nome-produto{
    color: rgb(95, 82, 82);
    font-family: 'Roboto', sans-serif;
    font-size: 7px;
    text-align: center;
    margin-bottom: 3vh;
}

.card .selo-marca img{
  width: 25vh;
  height: 10vh;
  margin-bottom: 2vh;
}
